.btn-card {
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h3 {
  color: white;
}